@model LuminaResort.Models.Paquete

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="separar">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paquete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MensualidadPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MensualidadPaquete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ListaPaquetes">Back to List</a>
    </form>
</div>
